body {
      background-image: url('piazzaPanic/assets/hell.jpeg'), url('https://i.4cdn.org/g/1594686838367.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      font-family: Arial;
}
h1 {
    color: #df00ff;
}
h2 {
    color: #ff2400;
}
h6 {
    color: #ff69b4;
}
#bob1 {
    background-color: Aqua;
    border: 1px solid Lavender;
    border-spacing: 5px;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}
